* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(182, 182, 182);
    gap: 2em;
}

img {
    max-width: 100%;
    display: block;
}

.gallery {
    width: 60rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5em;
    padding: .5em;
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.8);
}

.gallery .image {
    flex-basis: calc(25% - .5em);
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.image a {
    text-decoration: none;
}

.gallery p {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-transform: uppercase;
    padding: 1em;
    letter-spacing: 2px;
    font-size: .75em;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .5;
    transform: translateY(100%);
    transition: all .2s ease-in-out;
}

.gallery .image:hover p {
    transform: translateY(0);
    opacity: 1;
}

.gallery .image img {
    width: 100%;
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

.gallery .image:hover img {
    transform: scale(1.2);
}

.gallery .image::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    inset: 0;
    /*atalho para usar bottom, right, left e top juntos*/
    opacity: .5;
    pointer-events: none;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

.gallery .image:hover::after {
    opacity: 0;
    transform: scale(.5);
}